@page
@model ApplicationUsersDetailModel
@{
    ViewData["Title"] = "Application User Details";
}

<h2>Application User Details</h2>

<div>
    <h4>Application User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.CreatedDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.CreatedDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.NormalizedUserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.NormalizedUserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.NormalizedEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.NormalizedEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.EmailConfirmed)
        </dt>
        <dd>
            <label class="switch switch-pill switch-text switch-primary">
                <input asp-for="ApplicationUser.EmailConfirmed" type="checkbox" class="switch-input">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
            </label>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.PasswordHash)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.PasswordHash)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.SecurityStamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.SecurityStamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.ConcurrencyStamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.ConcurrencyStamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.PhoneNumberConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.PhoneNumberConfirmed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.TwoFactorEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.TwoFactorEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.LockoutEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.LockoutEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.LockoutEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.LockoutEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.AccessFailedCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.AccessFailedCount)
        </dd>
    </dl>
</div>
<div class="form-group">
    <div class="cpl-md-offset-2 col-md-10">
        <div>
            <label class="control-label">Roles Assigned</label>
        </div>
        <div>
            <table>
                @{
                    int cnt = 0;
                    foreach (var role in Model.AssignedRolesDataList)
                    {
                        @:<tr>
                            if (cnt++ % 3 == 0)
                            {
                            @:</tr><tr>
                            }
                            <td>
                                <label class="switch switch-3d switch-text switch-info mb-xl-3">
                                    <input name="selectedRoles" value="@role.Id" type="checkbox" class="switch-input" @(Html.Raw(role.Assigned ? "checked=\"checked\"" : ""))>
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                                @cnt : @role.Name
                                @*<input type="checkbox"
                                        name="selectedRoles"
                                        value="@role.Id"
                                        readonly
                                        @(Html.Raw(role.Assigned ? "checked=\"checked\"" : "")) />
                                @cnt : @role.Name*@
                            </td>
                        @:</tr>
                    }
                }
            </table>
        </div>
        <div>
            <a asp-page="./ApplicationUsersEdit" asp-route-id="@Model.ApplicationUser.Id">Edit</a> |
            <a asp-page="./ApplicationUsersIndex">Back to List</a>
        </div>
    </div>
</div>