@page
@model ApplicationRolesEditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Application Role</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApplicationRole.Description" class="control-label"></label>
                <input asp-for="ApplicationRole.Description" class="form-control" />
                <span asp-validation-for="ApplicationRole.Description" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ApplicationRole.Id" />
            <div class="form-group">
                <label asp-for="ApplicationRole.Name" class="control-label"></label>
                <input asp-for="ApplicationRole.Name" class="form-control" />
                <span asp-validation-for="ApplicationRole.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Menus Assigned</label>
                <div class="cpl-md-offset-2 col-md-10">
                    <table class="table table-hover table-striped table-responsive-sm">
                        <thead>
                            <tr>
                                <th>Menu Caption</th>
                                <th>Menu Full Name</th>
                                <th>Assigned</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var menu in Model.AssignedRoleMenusDataList)
                                {
                                    @:
                                    <tr>
                                        <td class="align-middle">
                                            @menu.MenuCaption
                                        </td>
                                        <td class="align-middle">
                                            @menu.MenuFullName
                                        </td>
                                        <td>
                                            @*<div class="checkbox">
                                                <input type="checkbox" data-style="ios" data-toggle="toggle" name="selectedMenuIds" value="@menu.MenuId" @(Html.Raw(menu.IsAssigned ? "checked=\"checked\"" : "")) data-onstyle="primary" data-width="50" />
                                            </div>*@
                                            <label class="switch switch-pill switch-text switch-primary">
                                                <input name="selectedMenuIds" value="@menu.MenuId" type="checkbox" class="switch-input" @(Html.Raw(menu.IsAssigned ? "checked=\"checked\"" : ""))>
                                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                            @*<input type="checkbox" name="selectedMenuIds" value="@menu.MenuId" @(Html.Raw(menu.IsAssigned ? "checked=\"checked\"" : "")) />*@
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary btn-sm" />
            </div>
        </form>
    </div>

</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}