@page
@model DailyInventoryModel
@{
    ViewData["Title"] = "Daily Inventories";
}

<h2>Daily Inventories</h2>
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            @if (Model.DailyInventories.Count() > 0)
            {
                <button class="btn btn-outline-primary btn-sm" asp-page-handler="Export">Export</button>
            }
        </div>
        <div class="col-md-8"></div>
    </div>
</form>
<table id="example" class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DailyInventories[0].ItemName)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.DailyInventories[0].OnHand)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.DailyInventories[0].Whs01)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.DailyInventories[0].Whs01a)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.DailyInventories[0].Whs99)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.DailyInventories[0].Whs99a)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DailyInventories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.OnHand)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Whs01)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Whs01a)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Whs99)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Whs99a)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        //var today = new Date();
        //var fileName = 'Inventory Report-' + today.toISOString().substring(0, 10);
        //var idioma =
        //{
        //    "sProcessing": "Processing...",
        //    "sLengthMenu": "To show _MENU_ registros",
        //    "sZeroRecords": "No results found",
        //    "sEmptyTable": "No data available in this table",
        //    "sInfo": "Showing records from _START_ to _END_ of a total of _TOTAL_ records",
        //    "sInfoEmpty": "Showing records from 0 to 0 of a total of 0 records",
        //    "sInfoFiltered": "(filtering a total of _MAX_ registros)",
        //    "sInfoPostFix": "",
        //    "sSearch": "Search for:",
        //    "sUrl": "",
        //    "sInfoThousands": ",",
        //    "sLoadingRecords": "Loading...",
        //    "oPaginate": {
        //        "sFirst": "First",
        //        "sLast": "Last",
        //        "sNext": "Next",
        //        "sPrevious": "Previous"
        //    },
        //    "oAria": {
        //        "sSortAscending": ": Sort as ascending",
        //        "sSortDescending": ": Sort as descending order"
        //    },
        //    "buttons": {
        //        "copyTitle": 'Copied information',
        //        "copyKeys": 'Use your keyboard or menu to select the copy command',
        //        "copySuccess": {
        //            "_": '%d rows copied to clipboard',
        //            "1": '1 row copied to clipboard'
        //        },

        //        "pageLength": {
        //            "_": "To show %d rows",
        //            "-1": "Show everything"
        //        }
        //    }
        //};
        //$(document).ready(function () {
        //    $('#example').DataTable({
        //        "paging": true,
        //        "lengthChange": true,
        //        "searching": true,
        //        "ordering": true,
        //        "info": true,
        //        "autoWidth": true,
        //        "language": idioma,
        //        "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "Show everything"]],
        //        dom: 'Bfrt<"col-md-6 inline"i> <"col-md-6 inline"p>',
        //        buttons: {
        //            dom: {
        //                container: {
        //                    tag: 'div',
        //                    className: 'flexcontent'
        //                },
        //                buttonLiner: {
        //                    tag: null
        //                }
        //            },
        //            buttons: [
        //                {
        //                    extend: 'copyHtml5',
        //                    text: '<i class="fa fa-clipboard"></i>Copy',
        //                    title: fileName,
        //                    titleAttr: 'Copy',
        //                    className: 'btn btn-app export barras',
        //                    exportOptions: {
        //                        columns: [0, 1, 2, 3, 4, 5]
        //                    }
        //                },

        //                {
        //                    extend: 'pdfHtml5',
        //                    text: '<i class="fa fa-file-pdf-o"></i>PDF',
        //                    title: fileName,
        //                    titleAttr: 'PDF',
        //                    className: 'btn btn-app export pdf',
        //                    exportOptions: {
        //                        columns: [0, 1, 2, 3, 4, 5]
        //                    },
        //                    customize: function (doc) {

        //                        doc.styles.title = {
        //                            color: '#4c8aa0',
        //                            fontSize: '30',
        //                            alignment: 'center'
        //                        }
        //                        doc.styles['td:nth-child(2)'] = {
        //                            width: '100px',
        //                            'max-width': '100px'
        //                        },
        //                            doc.styles.tableHeader = {
        //                                fillColor: '#4c8aa0',
        //                                color: 'white',
        //                                alignment: 'center'
        //                            },
        //                            doc.content[1].margin = [100, 0, 100, 0]

        //                    }

        //                },

        //                {
        //                    extend: 'excelHtml5',
        //                    text: '<i class="fa fa-file-excel-o"></i>Excel',
        //                    title: fileName,
        //                    titleAttr: 'Excel',
        //                    className: 'btn btn-app export excel',
        //                    exportOptions: {
        //                        columns: [0, 1, 2, 3, 4, 5]
        //                    },
        //                },
        //                {
        //                    extend: 'csvHtml5',
        //                    text: '<i class="fa fa-file-text-o"></i>CSV',
        //                    title: fileName,
        //                    titleAttr: 'CSV',
        //                    className: 'btn btn-app export csv',
        //                    exportOptions: {
        //                        columns: [0, 1, 2, 3, 4, 5]
        //                    }
        //                },
        //                {
        //                    extend: 'print',
        //                    text: '<i class="fa fa-print"></i>Print',
        //                    title: fileName,
        //                    titleAttr: 'Imprimir',
        //                    className: 'btn btn-app export imprimir',
        //                    exportOptions: {
        //                        columns: [0, 1, 2, 3, 4, 5]
        //                    }
        //                },
        //                {
        //                    extend: 'pageLength',
        //                    titleAttr: 'Records to show',
        //                    className: 'selectTable'
        //                }
        //            ]


        //        }
        //    });
        //});
        @Html.Raw(Model.PrepareScript("example", "Inventory Report", 6));
    </script>
}